@media (hover: hover) {
    .pop-visible {
        overflow: hidden;
        margin-right: 7px;
        height: auto;
    }
}

.pop-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-start;
    display: flex;
    z-index: -99999;
    opacity: 0;
    padding-top: 50px;

    &.active {
        z-index: 1010;
        opacity: 1;
        transition: opacity .5s;

        .pop-scroll {
            transform: translateY(-25px);
        }
    }
}

@media (hover: hover) {
    .pop-background {
        padding-right: 17px;
    }
}

.pop-scroll {
    z-index: 1100;
    width: 100%;
    max-width: 770px;
    width: calc(100% - 30px);
    transition: .5s;
    position: relative;
    margin: auto auto;
    transform: translateY(-150px);
    color: #25272a;
}

.pop__content {
    max-height: 100%;
    width: 100%;
}

.close {
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
    transition: .3s;

    &:after,
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 30px;
        background: #25272a;
        transform: rotate(45deg);
        left: 14px;
        top: 5px;
        transition: .3s;
    }

    &:before {
        transform: rotate(-45deg);
    }

    &:hover {

        &:after,
        &:before {
            background: red;
        }
    }
}
