.rating {
  display: flex;
  align-items: center;
}

.rating .form__label {
  margin-right: 30px;
}

.rating__group {
  position: relative;
  width: 5em;
  height: 1em;
  background-image: url("../images/star.svg");
  background-size: 1em auto;
  background-repeat: repeat-x;
}

.rating__star {
  position: absolute;
  display: block!important;
  top: 0;
  left: 0;
  margin: 0;
  height: 1em;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 1em auto;
  background-repeat: repeat-x;

  &:focus {
    outline: none;
  }
}

.rating__star:hover,
.rating__star:checked {
  background-image: url("../images/star-active.svg");
}

.rating__star:hover ~ .rating__star {
  background-image: url("../images/star.svg");
}

.rating__star:nth-of-type(1) {
  z-index: 5;
  width: 1em;
}

.rating__star:nth-of-type(2) {
  z-index: 4;
  width: 2em;
}

.rating__star:nth-of-type(3) {
  z-index: 3;
  width: 3em;
}

.rating__star:nth-of-type(4) {
  z-index: 2;
  width: 4em;
}

.rating__star:nth-of-type(5) {
  z-index: 1;
  width: 5em;
}
